.sign-in {
  width: 100%;
  max-width: 576px;
  margin: 0 auto;
  padding: 24px 0;
  background-color: var(--light-blue);
}

.h1log {
  font-family: 'Roboto', sans-serif;
  color: var(--dark-blue);
  text-align: center;
}

form {
  width: 90%;
  margin: 40px auto;
}

.label {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

input {
  width: 100%;
  height: 56px;
  margin-top: 8px;
  margin-bottom: 16px;
  padding: 0 8px;
  border: none;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  font-size: 16px;
}


@media (min-width: 768px) {
  input {
    margin-top: 12px;
    margin-bottom: 20px;
  }
}
