.sign-in {
  max-width: 500px;
  margin: 20px auto;
  padding: 24px 0;
  background-color: var(--light-blue);
  box-shadow: 0 0 15px 5px rgba(21, 29, 117, 0.05);
}

form.sign-in__form {
  width: 90%;
  margin: 0px auto;
}

.h1log {
  font-family: 'Roboto', sans-serif;
  color: var(--dark-blue);
  text-align: center;
}

.MuiFormControl-root.text-field {
  margin: 16px 0;
}

.MuiFormControlLabel-root.text-field {
  margin: 8px 0;
}

@media (min-width: 768px) {
  form.sign-in__form {
    width: 70%;
    margin-top: 0;
    margin-bottom: 7px;
  }
}
