/* .landing-page {
  position: relative;
} */

.container {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  padding: 0 25px;
  margin-bottom: 50px;
  color: var(--dark-blue);
}

.container__header,
.person__header {
  font-family: 'Roboto', sans-serif;
  color: var(--dark-blue);
}

.intro__text {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.intro__image {
  justify-content: center;
}

.intro__image {
  max-height: 30vh;
}

.container__header {
  color: var(--dark-blue);
  font-weight: 800;
}

.icon--next-section {
  display: none;
}

.rules {
  background-color: var(--light-blue);
  padding-top: 15px;
  padding-bottom: 15px;
}

.person__header {
  color: var(--contrast-color);
  font-size: 1.4rem;
  margin-bottom: 12px;
}

.person__icon {
  display: none;
}

@media (min-width: 768px) {
  .container {
    margin-bottom: 60px;
  }

  .LP--first-part {
    display: flex;
    flex-direction: column;
  }

  .intro {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0;
    margin-top: 50px;
    /* height: 100vh; */
  }

  .intro__image {
    width: 100%;
  }

  .intro__content {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 50px;
  }

  .intro__buttons {
    display: flex;
    justify-content: space-between;
  }

  .btn.main--page {
    flex-basis: 45%;
    margin: 0;
  }

  .btn.btn--primary.main--page:hover {
    color: var(--dark-blue);
    background-color: white;
    border: solid 2px var(--dark-blue);
    font-weight: bold;
  }

  .icon--next-section {
    display: block;
    fill: transparent;
    stroke: var(--contrast-color);
    align-self: center;
    /* position: absolute;
    bottom: 40px;
    right: calc(100% / 2); */
  }

  .icon--next-section:hover {
    fill: var(--contrast-color);
  }

  .person__header:hover {
    color: var(--contrast-color);
  }

  .header--main {
    font-size: 40px;
  }

  .rules.container {
    padding: 40px 25px;
  }

  .rules__content {
    display: flex;
    justify-content: space-around;
  }

  .rules__person {
    display: flex;
    justify-content: space-around;
    flex-basis: 40%;
    text-align: justify;
  }

  .person__icon {
    display: block;
    max-width: 15%;
  }

  .person__description {
    margin-left: 40px;
    line-height: 1.5rem;
  }

  .about__text {
    line-height: 1.5rem;
  }

  /* animation */
  .rules__person {
    transition: transform 0.2s;
  }

  .rules__person:hover {
    transform: scale(1.3);
  }
}
