.container {
  width: 100%;
  /* font-family: 'Lora', serif; */
  font-family: 'Raleway', sans-serif;
  padding: 0 25px;
  margin-bottom: 50px;
}

.container__header,
.person__header {
  font-family: 'Roboto', sans-serif;
  color: var(--dark-blue);
}

.intro__text {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.intro__image {
  justify-content: center;
}

img {
  max-height: 30vh;
}

.icon--next-section {
  display: none;
}

.rules {
  background-color: var(--light-blue);
  padding-top: 15px;
  padding-bottom: 15px;
}

.person__header {
  color: var(--contrast-color);
  font-size: 1.4rem;
  margin-bottom: 12px;
}

.person__icon {
  display: none;
}

h1 {
  color: var(--dark-blue);
  font-weight: 800;
}

.btn.btn--primary.main--page:hover {
  color: var(--dark-blue);
  background-color: white;
  border: solid 2px var(--dark-blue);
  font-weight: bold;
}

@media (min-width: 768px) {
  .container {
    margin-bottom: 60px;
  }

  h2.container__header {
    margin: 0;
    margin-bottom: 36px;
  }

  .intro {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0;
    margin-top: 50px;
    height: 100vh;
  }

  .intro__image {
    max-height: 50vh;
  }

  .intro__content {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 50px;
    position: relative;
  }

  .intro__buttons {
    display: flex;
    justify-content: space-between;
  }

  .btn.main--page {
    flex-basis: 45%;
    margin: 0;
  }

  /* .background-image {
    width: 100%;
    height: 600px;
    background-image: url(./img/backgroundImage.svg);
    background-repeat: no-repeat;
    background-position: -30%;
    background-size: 70%;
  } */

  .icon--next-section {
    color: var(--contrast-color);
    font-size: 50px;
    display: block;
    align-self: center;
    position: absolute;
    bottom: 40px;
    right: calc(100% / 2);
  }

  .icon--next-section:hover {
    fill: blueviolet;
  }

  .second-section {
  }

  .person__header:hover {
    color: var(--contrast-color);
  }

  .header--main {
    font-size: 40px;
  }

  .rules.container {
    padding: 40px 25px;
  }

  .rules__content {
    display: flex;
    justify-content: space-around;
  }

  .rules__person {
    display: flex;
    justify-content: space-around;
    flex-basis: 40%;
    text-align: justify;
  }

  .person__icon {
    display: block;
    max-width: 15%;
  }

  .person__description {
    margin-left: 40px;
    line-height: 1.5rem;
  }

  .about__text {
    line-height: 1.5rem;
  }

  /* animation */
  .rules__person {
    transition: transform 0.2s;
  }

  .rules__person:hover {
    transform: scale(1.3);
  }
}
