* {
  box-sizing: border-box;
}

:root {
  --primary-color: black;
  --primary-light: white;
  --light-blue: #e7edfd;
  --blue: #8eb2f9;
  --dark-blue: #151d75;
  --contrast-color: #fe7062;
}

.container {
  width: 100%;
  font-family: 'Lora', serif;
  padding: 0 25px;
  margin-bottom: 50px;
}

.container__header,
.person__header {
  font-family: 'Roboto', sans-serif;
  color: var(--dark-blue);
}

.intro__text {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.intro__image {
  display: flex;
  justify-content: center;
}

img {
  max-height: 30vh;
}

.btn {
  display: inline-block;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  background-color: var(--dark-blue);
  color: var(--light-blue);
  border: none;
  padding: 25px;
  margin-top: 15px;
  border-radius: 15px;
}

.btn__text {
  text-decoration: none;
  color: var(--primary-light);
}

.btn__description {
  font-size: 14px;
  margin: 0;
  margin-top: 10px;
}


.rules {
  background-color: var(--light-blue);
  padding-top: 15px;
  padding-bottom: 15px;
}

.person__header {
  color: var(--contrast-color);
}

h1 {
  color: var(--dark-blue);
  font-weight: 800;
}