* {
  box-sizing: border-box;
}

:root {
  --primary-color: black;
  --primary-light: white;
  --light-blue: #e7edfd;
  --blue: #8eb2f9;
  --dark-blue: #151d75;
  --contrast-color: #fe7062;
}

/* ------------ sign in ----------- */
.sign-in {
  width: 100%;
  max-width: 576px;
  margin: 0 auto;
  padding: 24px 0;
  background-color: var(--light-blue);
}

.h1log {
  font-family: 'Roboto', sans-serif;
  color: var(--dark-blue);
  text-align: center;
}

form {
  width: 90%;
  margin: 40px auto;
}

.label {
  font-size: 20px;
}

input {
  width: 100%;
  height: 56px;
  margin-top: 8px;
  margin-bottom: 16px;
  padding: 0 8px;
  border: none;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  font-size: 16px;
}

.btn {
  display: inline-block;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  border: none;
  margin-top: 15px;
  border-radius: 5px;
  height: 56px;
}

.btn.primary {
  background-color: var(--dark-blue);
  color: var(--light-blue);
}

.btn--registration {
  width: 90%;
  margin: 0 auto;
}

.btn.secondary {
  border-radius: 5px;
  height: 56px;
  color: var(--contrast-color);
  background-color: transparent;
  border: 2px solid var(--contrast-color);
}

@media (min-width: 768px) {
  input {
    margin-top: 12px;
    margin-bottom: 20px;
  }
}
