* {
  box-sizing: border-box;
}

:root {
  --primary-color: black;
  --light-blue: #e7edfd;
  --blue: #8eb2f9;
  --dark-blue: #151d75;
  --contrast-color: #fe7062;
}
/* barvy se pak pouzivaji jako color: var(--primary-color) */

/* ---- navigation ------ */
.header {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  background-color: var(--blue);
}

.nav-desktop {
  display: none;
}

.hamburger {
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;

  background-image: url('./img/menu-icon.svg');
  background-size: contain;
  background-color: transparent;
  color: var(--dark-blue);

  cursor: pointer;
}

.hamburger--opened {
  position: absolute;
  right: 10px;
  padding-bottom: 10px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 35px;
  left: 35px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.menu-item {
  list-style-type: none;
  width: 100%;
  padding: 1rem;
  color: var(--dark-blue);
  cursor: pointer;
}

.menu-item a {
  text-decoration: none;
}

.sign-up {
  color: var(--contrast-color);
}

/* ------------------ */

.container {
  padding: 0px;
  font-family: 'Lora', serif;
  padding: 0 15px;
}

.container__header,
.rules__header {
  font-family: 'Roboto', sans-serif;
}

.intro__text {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.intro__image {
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
  max-height: 30vh;
}

.cta {
  max-width: 500px;
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  min-width: 210px;
  text-decoration: none;
  text-align: center;
  background-color: var(--dark-blue);
  color: var(--blue);
  padding: 25px;
  margin-top: 15px;
  border-radius: 40px;
}

.rules__header {
  color: var(--dark-blue);
}

@media (min-width: 600px) {
  .nav-btn {
    display: none;
  }

  .nav-closed {
    display: flex;
  }

  .cta__icon {
    display: inline;
    max-width: 80px;
  }
}

@media (min-width: 768px) {
  .header {
    border-color: white;
  }

  .nav-desktop  {
    display: flex;
    z-index: 50;
  }

  .nav-mobile {
    display: none;
  }

  .menu-items {
    flex-direction: row;
    top: 0;
  }

  .menu-item a:hover {
    color: var(--contrast-color);
  }

  .sign-up:hover {
    border-bottom: 1px solid var(--contrast-color);
  }
}
