* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffffff;
  --blue: #e7edfd;
  --dark-blue: #151d75;
  --btn-hover: #fe7062;
}
/* barvy se pak pouzivaji jako color: var(--primary-color) */

.container {
  padding: 0px;
  font-family: 'Lora', serif;
}

.intro__header {
  font-family: 'Roboto', sans-serif;
}

.intro__info {
  padding: 0 15px;
}

.intro__text {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

img {
  width: 100%;
}

.cta {
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  border-radius: 10px;
  padding: 20px 0;
}

.cta__icon {
  max-width: 80px;
}

.btn {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  min-width: 210px;
  text-decoration: none;
  text-align: center;
  background-color: var(--dark-blue);
  color: var(--blue);
  padding: 15px;
  margin-top: 15px;
  border-radius: 25px;
}
