* {
  box-sizing: border-box;
}

:root {
  --primary-color: black;
  --primary-light: white;
  --light-blue: #e7edfd;
  --blue: #8eb2f9;
  --dark-blue: #151d75;
  --contrast-color: #fe7062;
}
/* barvy se pak pouzivaji jako color: var(--primary-color) */

/* ---- navigation ------ */
.header {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  background-color: var(--light-blue);
}

.nav-desktop {
  display: none;
}

.hamburger {
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;

  background-image: url('./img/menu-icon.svg');
  background-size: contain;
  background-color: transparent;
  color: var(--dark-blue);

  cursor: pointer;
}

.hamburger--opened {
  position: absolute;
  right: 10px;
  padding-bottom: 10px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 35px;
  left: 35px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.menu-item {
  list-style-type: none;
  width: 100%;
  padding: 1rem;
  color: var(--dark-blue);
  cursor: pointer;
}

.menu-item a {
  text-decoration: none;
}

.sign-up {
  color: var(--contrast-color);
}

/* ------- landing page ----------- */

.container {
  width: 100%;
  font-family: 'Lora', serif;
  padding: 0 25px;
  margin-bottom: 50px;
}

.container__header,
.person__header {
  font-family: 'Roboto', sans-serif;
  color: var(--dark-blue);
}

.intro__text {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.intro__image {
  display: flex;
  justify-content: center;
}

img {
  max-height: 30vh;
}

.btn {
  display: inline-block;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: var(--dark-blue);
  color: var(--light-blue);
  border: none;
  padding: 25px;
  margin-top: 15px;
  border-radius: 15px;
}

.btn__text {
  text-decoration: none;
  color: var(--primary-light);
  font-size: 20px;
}

.btn__description {
  margin: 0;
  margin-top: 10px;
}

.rules {
  background-color: var(--light-blue);
  padding-top: 15px;
  padding-bottom: 15px;
}

.person__header {
  color: var(--contrast-color);
}



h1 {
  color: var(--dark-blue);
  font-weight: 800;
}

.volunteer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lora', serif;
  padding: 30px;
}

.volunteer__intro {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.volunteer__expect {
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 700;
  padding: 20px;
}

.volunteer__process {
  display: flex;
  flex-direction: row;
}

.volunteer__step {
  width: 150px;
  margin: 40px;
}


/* ----------  registration.html  -------- */

.registration__container {
  margin: 0 auto;
  display: flex;
  width: 100%;
  align-items: center;
}


/* -------- desktop ---------- */
@media (min-width: 768px) {
  /* ------- header ------ */
  .header {
    background-color: white;
  }

  .nav-desktop  {
    display: flex;
    z-index: 50;
  }

  .nav-mobile {
    display: none;
  }

  .menu-items {
    flex-direction: row;
    top: 0;
  }

  .menu-item a:hover {
    color: var(--contrast-color);
  }

  .sign-up:hover {
    border-bottom: 1px solid var(--contrast-color);
  }

  /* ----- landing page -------- */
  .intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0;
  }

  .intro__image {
    max-height: 50vh;
  }

  .intro__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 50px;
  }

  .intro__buttons {
    display: flex;
    justify-content: space-between;
  }

  .header--main {
    font-size: 40px;
  }

  .btn {
    flex-basis: 47%;
    padding: 20px;
    margin-top: 40px;
  }

  .btn__description {
    margin-top: 20px;
  }

  .rules__content {
    display: flex;
    justify-content: space-around;
  }

  .rules__person {
    display: flex;
    justify-content: space-around;
    flex-basis: 40%;
    text-align: justify;
  }

  .person__icon {
    max-width: 15%;
  }

  .person__description {
    margin-left: 40px;
    line-height: 1.5rem;
  }

  .about__text {
    line-height: 1.5rem;
  }
}
