.btn {
  display: inline-block;
  width: 100%;
  margin: 15px auto;
  padding: 20px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.btn.btn--primary {
  background-color: var(--dark-blue);
  color: var(--light-blue);
}

.btn.btn--secondary {
  border-radius: 5px;
  color: var(--contrast-color);
  background-color: transparent;
  border: 2px solid var(--contrast-color);
}

.btn__description {
  font-size: 14px;
  margin-top: 10px;
}

/* .btn.btn--primary:hover {
 color: var(--dark-blue);
 background-color: white;
 border: solid 2px var(--dark-blue);
} */

.btn--hidden {
  display: none;
}

@media (min-width: 768px) {
  .btn {
    margin-top: 40px;
  }

  .btn__description {
    margin-top: 20px;
  }
}
