.btn {
  display: inline-block;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 15px auto;
  border-radius: 5px;
}

.btn.btn--primary {
  background-color: var(--dark-blue);
  color: var(--light-blue);
}

.btn.btn--secondary {
  border-radius: 5px;
  color: var(--contrast-color);
  background-color: transparent;
  border: 2px solid var(--contrast-color);
}

.btn__description {
  font-size: 14px;
  margin: 0;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .btn {
    padding: 20px;
    margin-top: 40px;
  }

  .btn__description {
    margin-top: 20px;
  }
}