.confirmation__container {
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  background-color: var(--light-blue);
  font-size: 1.2rem;
  line-height: 1.8rem;
}


.confirmation__next {
    /* margin: 80px; */
}

.confirmation__text {
  padding: 50px;
}