.confirmation__container {
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  background-color: var(--light-blue);
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: var(--dark-blue);
}

.header.header--main {
  line-height: 2.4rem;
}

.confirmation__text {
  margin: 20px;
}

.confirmation__block {
  margin: 20px;
}