.confirmation__container {
  width: 100%;
  max-width: 900px;
  max-height: 100vh;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 40px;
  background-color: var(--light-blue);
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: var(--dark-blue);
}

.header.header--main {
  line-height: 2rem;
  font-family: "Roboto", sans-serif;
}

.confirmation__text {
  margin: 20px;
  font-family: "Raleway", sans-serif;
}

.confirmation__block {
  margin: 10px;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
}

.confirmation__next {
  font-family: "Raleway", sans-serif;
  color: var(--constrast-color);
  font-size: 1.2rem;
}

.confirmation__next--question {
  color: var(--contrast-color);
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 800;
  margin-top:10px;
}

.confirmation__next--text {
  font-family: "Raleway", sans-serif;
  margin: 20px 0;
}

.thick--picture {
  width: 100px;
  height: 100px;
}

@media (min-width: 768px) {
  .confirmation__buttons {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }

  .checked--picture {
    width: 100px;
    height: 100px;
    size:100%;
  }
}
