.request {
  width: 100%;
  max-width: 576px;
  margin: 0 auto;
  background-color: var(--light-blue);
  padding: 24px 0;
  color: var(--dark-blue);
}

.request__description {
  text-align: center;
  font-size: 16px;
  margin: 32px 0;
}

.request__intro {
  font-size: 20px;
}

.request__form {
  width: 90%;
  margin: 40px auto;
}

.MuiFormControl-root.text-field {
  margin: 16px 0;
}

.MuiFormControl-root.text-field.notes {
  width: 100%;
}

.MuiFormGroup-row {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .request__form {
    width: 80%;
  }
}
