.request {
  width: 100%;
  max-width: 576px;
  margin: 0 auto;
  background-color: var(--light-blue);
  padding: 24px 0;
}

.request__description {
  text-align: center;
  font-size: 16px;
  margin: 32px 0;
}

form {
  width: 90%;
  margin: 40px auto;
}

.label {
  font-size: 20px;
}

input {
  width: 100%;
  display: inline-block;
  height: 56px;
  margin-top: 8px;
  margin-bottom: 16px;
  padding: 0 8px;
  border: none;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  font-size: 16px;
}

.request__details {
  margin-top: 50px;
}

.label--checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.input--checkbox {
  flex-grow: 0;
  width: 30px;
  margin: 0;
}

.btn--form {
  border-radius: 5px;
}

@media (min-width: 768px) {
  input {
    margin-top: 12px;
    margin-bottom: 20px;
  }
}