.request {
  width: 100%;
  max-width: 576px;
  margin: 0 auto;
  background-color: var(--light-blue);
  padding: 24px 0;
}

.request__description {
  text-align: center;
  font-size: 16px;
  margin: 32px 0;
}

form {
  width: 90%;
  margin: 40px auto;
}

.label {
  font-size: 20px;
}

.request__details {
  margin-top: 50px;
}

.label--checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.input--checkbox {
  flex-grow: 0;
  width: 30px;
  margin: 0;
}

.btn--form {
  border-radius: 5px;
}
