.container--footer {
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 36px;
  width: 100%;
  font-size: 10px;
  /* position: absolute;
  bottom: 0; */
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.copyright {
  display: flex;
  align-items: center;
}

.copyright-icon {
  font-size: 18px;
  margin-right: 3px;
}

.czechitas  {
  display: flex;
  align-items: center;
}

svg {
  width: 60px;
  margin-left: 10px;
}
