.container-footer {
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
}

footer {
  margin: 0 auto;
  width: 100%;
  font-size: 10px;
}

svg {
  width: 60px;
  margin-left: 10px;
}
