.container--footer {
  width: 100%;
  background-color: #fe6f6251;
  color: var(--dark-blue);
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  /* position: absolute;
  bottom: 0; */
}

a {
  text-decoration: none;
  color: var(--dark-blue);
}

.copyright {
  display: flex;
  align-items: center;
}

.copyright-icon {
  font-size: 18px;
  margin-right: 3px;
}

.czechitas-logo {
  width: 60px;
  margin-left: 10px;
  stroke: var(--dark-blue);
  fill: var(--dark-blue);
  vertical-align: middle;
}

@media (min-width: 768px) {
  .container--footer {
    flex-direction: row;
    justify-content: space-around;
    /* height: 36px; */
  }
}
