.registration__container {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 24px 0;
  background-color: var(--light-blue);
  color: var(--dark-blue);
}

.h1log {
  font-family: 'Roboto', sans-serif;
  color: var(--dark-blue);
  text-align: center;
}

.registration__text {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 20px;
  padding: 0 15px;
}

.registration__form {
  width: 90%;
  margin: 20px auto;
}


/* .label__checkbox {
  font-size: 15px;
}

.checkbox {
  width: 15px;
  height: 15px;
  margin-bottom: 4px;
}

.registration__account-created {
  font-size: 20px;
  text-align: center;
} */

.MuiFormControl-root.text-field {
  margin: 16px 0;
}

.MuiFormControlLabel-root.text-field {
  margin: 8px 0;
}

@media (min-width: 768px) {
  .registration__form {
    width: 70%;
  }

  .btn--registration {
    margin-top: 24px;
  }
}
